.custom_zhekou .zhekou_info {
  background: #ff9c1b;
  padding: 8px;
}
.custom_zhekou .zhekou_info > span {
  color: #fff;
  font-weight: bold;
}
.custom_zhekou .zhekou_info > a {
  color: #fff;
}
.custom_zhekou .zhekou_lists .shop_lists {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.custom_zhekou .zhekou_lists .shop_lists > a {
  width: 25%;
  display: block;
}
.custom_zhekou .zhekou_lists .shop_lists > a img {
  width: 100%;
}
.custom_zhekou .zhekou_lists .shop_lists .info_right {
  width: 75%;
}
.custom_zhekou .zhekou_lists .shop_lists .info_right > p {
  font-size: 16px;
}
.custom_zhekou .zhekou_lists .shop_lists .info_right > p > span {
  color: red;
}
.custom_zhekou .zhekou_lists .shop_lists .info_right > div span {
  color: #ccc;
  font-weight: bold;
}
.custom_btn {
  padding: 10px 10px;
}
.custom_btn > a {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #000;
}
