.custom_header {
    background: #ff841d;
    .navbar-header {
        position: relative;
        >a {
            display: inline-block;
        }
        .navbar-brand {
            background: url(../../images/header_logo.png) no-repeat center;
            background-size: 80%;
            width: 60%;
        }
        .app-donw {
            background: url(../../images/header_app.png) no-repeat center;
            background-size: 70%;
            width: 60px;
            height: 100%;
            position: absolute;
            right: 10px;
            top: 0;
        }
    }
}

// 搜索框
.custom_search {
    padding: 0 10px;
}

// 菜单列表
.custom_menus {
    margin-top: 20px;
    .col-xs-3 {
        padding: 8px;
        a {
            text-align: center;
            color: #000;
            display: block;
            >img {
                width: 100%;
            }
            >span {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

// 折扣推荐
.custom_zhekou {
    .zhekou_info {
        background: #ff9c1b;
        padding: 8px;
        >span {
            color: #fff;
            font-weight: bold;
        }
        >a {
            color: #fff;
        }
    }
     // 折扣推荐列表
     
}